
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: tenso,sans-serif;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

